$var title: About
<style>
  ul {
    list-style-type: none;
  }
  .well {
    background-color: #1b1b1b;
    border: 1px solid #fff;
  }
</style>
<div class="row-fluid">
  <div class="well span8 offset2">
    <h3>Philosophy</h3>
    <p>
              The Evervolv project consists of people (around the world now) that want to learn how to do things related to the Android Open Source Project. It's not just a fork that has a few features added in and some themes changed, or a project that just wants to see how many devices can be ported. We've all learned something in the process of porting devices, and creating features, and continue to do so. With contributions from other forks like <a href="http://www.cyanogenmod.org/" target="_blank">CyanogenMod</a> and <a href="https://www.codeaurora.org/" target="_blank">CodeAurora</a> we are able to learn from them and continue even with older devices.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset2">
    <table class="table table-bordered">
        <caption><h3>Maintainers<h3></caption>
         <thead>
            <tr>
               <th>Device Maintainer</th>
               <th>Devices</th>
               <th>Device Retail Names</th>
           </tr>
        </thead>
        <tbody>
            $for m in maintainers:
                $code:
                    name = m.get('name')
                    info_extra = m.get('extra')
                    info_url = m.get('url')
                <tr>
                  <td>
                    <b><a href="$info_url" target="_blank">$name</a></b>
                    $if info_extra:
                        <ul>
                        $for i in info_extra:
                            <li>$i</li>
                        </ul>
                  </td>
                  <td>
                    $for d in maintainer_info(name).get('devices'):
                        <a href="/devices/$d">$d</a><br>
                  </td>
                  <td>
                    $for d in maintainer_info(name).get('devices'):
                        $device_info(d).get('retail_name')<br>
                  </td>
                </tr>
        </tbody>
    </table>
  </div>
</div>
