$def with (page)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evervolv
    $if page.title:
        | $page.title
    </title>
    <meta name="description" content="It's what we do." />
    <meta name="keywords" content="Evervolv, Android, AOSP, Jellybean">
    <link rel="shortcut icon" href="/static/res/img/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/res/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/res/css/custom.css">
  </head>
  <body>
    <div class="body-wrap">
      <!--Navbar-->
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-main" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand evervolv-brand" href="/">Evervolv</a>
        </div><!--header-->
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li id="nav-devices">
              <a href="/devices/">Devices</a>
            </li>
            <li id="nav-legacy-devices">
              <a href="/devices/legacy">Legacy Devices</a>
            </li>
            <li id="nav-features">
              <a href="/features/">Features</a>
            </li>
            <li id="nav-chat">
              <a href="/chat/">Chat</a>
            </li>
            <li id="nav-source">
              <a href="/source/">Source Code</a>
            </li>
            <li id="nav-about">
              <a href="/about/">About</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">External<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="//bugs.evervolv.com/" target="_blank">Bug Tracker</a>
                </li>
                <li>
                  <a href="//review.evervolv.com/" target="_blank">Gerrit Review</a>
                </li>
                <li>
                  <a href="//paste.evervolv.com/" target="_blank">Paste</a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!--collapse-->
      </nav><!--navbar-->
      <!--Content-->
      <div class="container">

$:page $# Don't move this
      </div><!--container-->
    </div><!--body-wrap-->
    <!--Footer-->
    <div class="navbar navbar-inverse navbar-footer">
      <div class="container">
        <!--Desktops and tablets gets full text-->
        <p class="navbar-text pull-left hidden-xs"><a class="navbar-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=PreludeDrew%40gmail%2ecom&lc=US&item_name=ROM%20Development&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate to Evervolv</a>&nbsp;&nbsp;</p>
        <p class="navbar-text pull-right hidden-xs">Built with <a class="navbar-link" href="//getbootstrap.com/" target="_blank">bootstrap</a> and <a class="navbar-link" href="//webpy.org/" target="_blank">web.py</a>&nbsp;&nbsp;&copy;The Evervolv Project</p>
        <!--Phones get abbreviated text-->
        <p class="navbar-text pull-left visible-xs"><a class="navbar-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=PreludeDrew%40gmail%2ecom&lc=US&item_name=ROM%20Development&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate</a>&nbsp;&nbsp;</p>
        <p class="navbar-text pull-right visible-xs">&copy;The Evervolv Project</p>
      </div><!--container-->
    </div><!--navbar-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/res/js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/res/js/js-url.min.js"></script>
    <script type="text/javascript">
    (function(){
        /* Highlight current page */
        page = url(1); page2 = url(2);
        if(page == 'devices' && page2 == '') {
            $$('li#nav-devices').addClass('active');
            /* activate device tooltips */
            $for d in devices():
                $$('#tooltip-$d').tooltip()
        } else if(page == 'devices' && page2 == 'legacy') {
            $$('li#nav-legacy-devices').addClass('active');
            /* activate device tooltips */
            $for d in devices():
                $$('#tooltip-$d').tooltip()
        } else if(page == 'features') {
            $$('li#nav-features').addClass('active');
            /* scroll the carousel */
            $$('#features-carousel').carousel()
        } else if(page == 'chat') {
            $$('li#nav-chat').addClass('active');
        } else if(page == 'news') {
            $$('li#nav-news').addClass('active');
        } else if(page == 'source') {
            $$('li#nav-source').addClass('active');
        } else if(page == 'about') {
            $$('li#nav-about').addClass('active');
        }
    })(jQuery);
    /* populate the build modal with changelog */
    function writeChanges(changesFile){
        $$('#modal-title').html('Changes');
        $$('.modal-body').html("<center>Loading...</center>")
        $$.get(changesFile, function(data) {
            /*replace sha's with link to gerrit*/
            var body=data.replace(/^((?!project)\w{7})\s/gm,"<a href='//review.evervolv.com/#/q/$$1,n,z' target='_blank' style='font-style:oblique;'>$$1</a>&nbsp;&nbsp;");
            body=body.replace(/^project/gm,"<strong>Project: </strong>");
            /*regex hack to only return the body and avoid applying
              the css in the changelog files to the current page*/
            body=body.replace(/\n/g," ");
            body=body.replace(/^.*?<body>(.*?)<\/body>.*?$$/m,"$$1");
            /*downsize all headers*/
            body=body.replace(/h(1|2|3)/g,"h4");
            $$('.modal-body').html(body);
            /*console.log(body);*/
        });
    }
    function writeMessage(message){
      $$('#modal-title').html('Notes');
      $$('.modal-body').html('<p>'+message+'</p>');
    }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21396401-1']);
      _gaq.push(['_setDomainName', 'evervolv.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
