$def with(device,files)
$code:
    def human_readable_size(size):
        return int(size)/1024/1024
    # avoid any escaping issues with links
    dd = 'date'
    nn = 'name'
    md = 'md5sum'
    ss = 'size'
    ll = 'location'
    mm = 'message'
$var title: $device
<div class="page-header top-header">
  <h3>$devices(device).get('retail_name') ($devices(device).get('codename'))</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Release Builds</h4>
    $if files.get('release'):
        <div class="accordion" id="accordion-release">
        $for f in files.get('release'):
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-release-$loop.index0">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-release-$loop.index0" aria-expanded="true" aria-controls="collapse-release-$loop.index0">
                <b class="accordion-header-date">$f.get(dd):</b>
                <b class="accordion-header-file">&nbsp;$f.get(nn)</b>
              </button>
           </h2>
           <div id="collapse-release-$loop.index0" class="accordion-collapse collapse" aria-labelledby="heading-release-$loop.index" data-bs-parent="#accordion-release">
             <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-7">
                    <b>MD5:&nbsp;</b>$f.get(md)<br>
                    <b>Size:&nbsp;</b>$human_readable_size(f.get(ss))MB
                  </div><!--col-->
                  <div class="col-sm-5 pull-right text-right">
                    <a class="btn btn-primary" data-bs-toggle="modal" href="#changesModal" role="button" onclick="writeMessage('$f.get(mm)')">Notes</a>
                    <a class="btn btn-primary" href="/get/$f.get(nn)">Download</a>
                  </div><!--col-->
                </div><!--row-->
             </div>
           </div>
          </div>
        </div><!--accordion-->
    $else:
        <p>No builds found</p>
  </div><!--col-->
  <div class="col-md-6">
    <h4>Nightly Builds</h4>
    $if files.get('nightly'):
        <div class="accordion" id="accordion-nightly">
        $for f in files.get('nightly'):
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-nightly-$loop.index0">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-nightly-$loop.index0" aria-expanded="true" aria-controls="collapse-nightly-$loop.index0">
                <b class="accordion-header-date">$f.get(dd):</b>
                <b class="accordion-header-file">&nbsp;$f.get(nn)</b>
              </button>
           </h2>
           <div id="collapse-nightly-$loop.index0" class="accordion-collapse collapse" aria-labelledby="heading-nightly-$loop.index" data-bs-parent="#accordion-nightly">
             <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-7">
                    <b>MD5:&nbsp;</b>$f.get(md)<br>
                    <b>Size:&nbsp;</b>$human_readable_size(f.get(ss))MB
                  </div><!--col-->
                  <div class="col-sm-5 pull-right text-right">
                    <a class="btn btn-primary" data-bs-toggle="modal" href="#changesModal" role="button" onclick="writeChanges('/get/changelog-$(f.get(dd)).html')">Log</a>
                    <a class="btn btn-primary" href="/get/$f.get(nn)">Download</a>
                  </div><!--col-->
                </div><!--row-->
             </div>
           </div>
          </div>
        </div><!--accordion-->
    $else:
        <p>No builds found</p>
  </div><!--col-->
</div><!--row-->
<div class="row">
  <div class="col-md-6">
    <h4>Testing Builds</h4>
    $if files.get('testing'):
        <div class="accordion" id="accordion-testing">
        $for f in files.get('testing'):
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-testing-$loop.index0">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-testing-$loop.index0" aria-expanded="true" aria-controls="collapse-testing-$loop.index0">
                <b class="accordion-header-date">$f.get(dd):</b>
                <b class="accordion-header-file">&nbsp;$f.get(nn)</b>
              </button>
           </h2>
           <div id="collapse-testing-$loop.index0" class="accordion-collapse collapse" aria-labelledby="heading-testing-$loop.index" data-bs-parent="#accordion-testing">
             <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-7">
                    <b>MD5:&nbsp;</b>$f.get(md)<br>
                    <b>Size:&nbsp;</b>$human_readable_size(f.get(ss))MB
                  </div><!--col-->
                  <div class="col-sm-5 pull-right text-right">
                    <a class="btn btn-primary" data-bs-toggle="modal" href="#changesModal" role="button" onclick="writeMessage('$f.get(mm)')">Notes</a>
                    <a class="btn btn-primary" href="/get/$f.get(nn)">Download</a>
                  </div><!--col-->
                </div><!--row-->
             </div>
           </div>
          </div>
        </div><!--accordion-->
    $else:
        <p>No builds found</p>
  </div><!--col-->
</div><!--row-->
<!-- Changes Modal -->
<div id="changesModal" class="modal fade" >
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="modal-title"><!--populated--></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div><!--modal-header-->
      <div class="modal-body"><!--populated--></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
