$def with(device,files)
$code:
    def human_readable_size(size):
        return int(size)/1024/1024
    # avoid any escaping issues with links
    dd = 'date'
    nn = 'name'
    md = 'md5sum'
    ss = 'size'
    ll = 'location'
    mm = 'message'
$var title: $device
<div class="page-header top-header">
  <h1>$devices(device).get('retail_name') ($devices(device).get('codename'))</h1>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <h4>Release Builds</h4>
    $if files.get('release'):
        <div class="accordion" id="accordion-left">
        $for f in files.get('release'):
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-left" href="#collapse-left-$loop.index0">
                  $if f.get(dd):
                    <b><span class="accordion-header-date">$f.get(dd):</span></b>&nbsp;$f.get(nn)
                  $else:
                    $f.get(nn)
                </a>
              </div><!--accordion-heading-->
              <div id="collapse-left-$loop.index0" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="row">
                    <div class="col-12 col-sm-7">
                      <b>MD5:&nbsp;</b>$f.get(md)<br>
                      <b>Size:&nbsp;</b>$human_readable_size(f.get(ss))MB
                    </div><!--col-->
                    <div class="col-12 col-sm-5 pull-right text-right">
                      <a class="btn btn-primary" href="#changesModal" data-toggle="modal" onclick="writeMessage('$f.get(mm)')">Notes</a>
                      <a class="btn btn-primary" href="/get/$f.get(nn)">Download</a>
                    </div><!--col-->
                  </div><!--row-->
                </div><!--accordion-inner-->
              </div><!--accordion-body-->
            </div><!--accordion-group-->
        </div><!--accordion-->
    $else:
        <p>No builds found</p>
  </div><!--col-->
  <div class="col-12 col-lg-6">
    <h4>Nightly Builds</h4>
    $if files.get('nightly'):
        <div class="accordion" id="accordion-right">
        $for f in files.get('nightly'):
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-right-$loop.index0">
                  $if f.get(dd):
                    <b><span class="accordion-header-date">$f.get(dd):</span></b>&nbsp;$f.get(nn)
                  $else:
                    $f.get(nn)
                </a>
              </div>
              <div id="collapse-right-$loop.index0" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="row">
                    <div class="col-12 col-sm-7">
                      <b>MD5:&nbsp;</b>$f.get(md)<br>
                      <b>Size:&nbsp;</b>$human_readable_size(f.get(ss))MB
                    </div><!--col-->
                    <div class="col-12 col-sm-5 pull-right text-right">
                      <a class="btn btn-primary" href="#changesModal" data-toggle="modal" onclick="writeChanges('/get/changelog-$(f.get(dd)).html')">Log</a>
                      <a class="btn btn-primary" href="/get/$f.get(nn)">Download</a>
                    </div><!--col-->
                  </div><!--row-->
                </div><!--accordion-inner-->
              </div><!--accordion-body-->
            </div><!--accordion-group-->
        </div><!--accordion-->
    $else:
        <p>No builds found</p>
  </div><!--col-->
</div><!--row-->
<!-- Changes Modal -->
<div id="changesModal" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modal-title"><!--populated--></h4>
      </div><!--modal-header-->
      <div class="modal-body"><!--populated--></div>
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->
