<style type="text/css">
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  /*background: #33B5E5;*/
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}
</style>
<div class="row-fluid">
    <div class="jumbotron">
       <!--Logo needs to be in css or something
           the image is too small for mobile-->
<!--      <img src="/static/img/header_logo.png"/>-->
      <h1>Evervolv</h1>
      <p>It's what we do</p>
    </div>
  </div>

<!--perhaps some screens here, id like to keep it simple though-->
