$def with (carousel_imgs)
$var title: Features
<div class="col-lg-8 col-offset-2">
  <div class="page-header">
    <h3 class="text-center">Screenshots</h3>
  </div>
  <!-- Carousel indicatiors-->
  <div id="features-carousel" class="carousel slide">
    <ol class="carousel-indicators">
      $for ii in carousel_imgs:
          $if loop.first:
              <li data-target="#features-carousel" data-slide-to="$loop.index0" class="active"></li>
          $else:
              <li data-target="#features-carousel" data-slide-to="$loop.index0"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      $for ii in carousel_imgs:
          $if loop.first:
              <div class="item active">
          $else:
              <div class="item">
          <img src="/static/res/img/screenshots/$ii"/>
          <div class="carousel-caption">
            <p>$ii.split('.')[0].replace('_',' ')</p>
          </div>
          </div>
    </div><!--carousel-inner-->
    <!-- Carousel nav -->
    <a class="left carousel-control" href="#features-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#features-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div><!--carousel-->
</div><!--col-->
