$def with(dates)
$var title: Logs
<div class="col-lg-8 col-offset-2">
  <div class="page-header top-header">
    <h3>Nightly Logs</h3>
  </div><!--page-header-->
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Changelog</th>
      <th>Scriptlog</th>
    </thead>
    <tbody>
      $for date in dates:
          <tr>
          <td class="log-date">$date</td>
          <td><a href="#changesModal" class="btn btn-link" data-toggle="modal" onclick="writeChanges('/static/n/$date/changelog-$(date).html')">Changes</a></td>
          <td><a href="#changesModal" class="btn btn-link" data-toggle="modal" onclick="writeChanges('/static/n/$date/scriptlog-$(date).html')">Buildlog</a></td>
          </tr>
    </tbody>
  </table>

  <!-- Changes Modal -->
  <div id="changesModal" class="modal fade" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="modal-title"><!--populated--></h4>
        </div><!--modal-header-->
        <div class="modal-body"><!--populated--></div>
      </div><!--modal-content-->
    </div><!--modal-dialog-->
  </div><!--modal-->
</div><!--col-->
