$var title: Source Code
<div class="row-fluid">
    <div class="span12">
    <h3>Basics</h3>
    <strong>Source</strong><br>
    <blockquote>
    repo init -u git://github.com/Evervolv/android.git -b jellybean
    </blockquote>
    </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h3>Contribute</h3>
    <strong>Gerrit</strong><br>
    <blockquote>
    http://review.evervolv.com
    </blockquote>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h3>Adding your device</h3>
    contact preludedrew
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h3>Getting help</h3>
    Join us in #evervolv on irc.freenode.net
  </div>
</div>
