$var title: Source Code
<div class="row-fluid">
    <div class="span12">
    <h3>Basics</h3>
    <p>
    <b>Get the Source</b><br><br>
    <blockquote>
      repo init -u git://github.com/Evervolv/android.git -b jellybean<br>
      repo sync -f
    </blockquote>
    <b>Building</b><br><br>
    <blockquote>
      source build/envsetup.sh<br>
      lunch
    </blockquote>
    Choose the appropriate device<br><br>
    <blockquote>
      make -j{#} otapackage
    </blockquote>
      Where {#} is the number of jobs. A good starting place is number of cores (real or virtual), just be sure not to run more jobs than you have GB of ram or bad things will happen (especailly with no swap)
    </p>
    <p>For greater detail see the <a href="https://github.com/Evervolv/android/blob/jellybean/README">Evervolv README</a> or <a href="http://source.android.com/source/index.html">Official Google Documentation</a></p>
    </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h3>Contribute</h3>
    <p>
      Evervolv is a colaborative effort. To submit patches sign up on <a href="http://review.evervolv.com">Gerrit.</a> Please note we do not accept pull requests on <a href="https://github.com/Evervolv">Github</a>
    </p>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h3>Adding your device</h3>
    <p>Contact preludedrew via <a href="http://twitter.com/preludedrew">twitter</a> or <a href="/chat/">irc</a>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h3>Getting help</h3>
    Join us in <a href="/chat/">#evervolv</a> on irc.freenode.net
    <br><br>
  </div>
</div>
