/* Base */
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #f1f1ed;
	background-color: #191919;
}
.body-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -50px;
}
.body-wrap > .container {
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar-inverse.navbar-main .navbar-nav > .active > a,
.navbar-inverse.navbar-main .navbar-nav > .active > a:hover,
.navbar-inverse.navbar-main .navbar-nav > .active > a:focus {
	color: #f1f1ed;
	background-color: #33b5e5;
}
.navbar-inverse.navbar-main .navbar-nav > .dropdown > a .caret {
	border-top-color: #33b5e5;
	border-bottom-color: #33b5e5;
}
.navbar-inverse.navbar-main .navbar-brand.evervolv-brand {
	font-size:1.8em;
	color: #33b5e5;
	font-family: "Sony Sketch";
}
.navbar-inverse.navbar-main {
	background-color: #0c0c0c;
	border-bottom: 2px solid #33b5e5;
}
.navbar-inverse.navbar-footer {
	background-color: #191919;
	margin-bottom: 0;
}
a {
	color: #33b5e5;
}
a:hover,
a:focus {
	color: #0099cc;
}
/* About */

/* Builds */
a.accordion-toggle:focus,
a.accordion-toggle:hover {
	text-decoration:none;
}
.accordion-header-date {
	color: #f1f1ed;
}
.btn-primary {
	background-color: #33b5e5;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	background-color: #0099cc;
}
.modal {
	color: #333333;
}
/* Chat */

/* Default */
.jumbotron {
	color: #f1f1ed;
	background-color: #191919;
	text-align: center;
}
.jumbotron h1 {
	font-size: 90px;
	font-weight: bold;
	font-family: "Sony Sketch";
}
.jumbotron p {
	font-size: 25px;
	font-family: "Sony Sketch";
}
@media (max-width: 480px) {
	.jumbotron h1 {
		font-size: 70px;
	}
}
/* Devices */
.list-group-item {
	background-color: #191919;
	border: 1px solid #f1f1ed;
	padding: 8px 0 8px 0;
	text-align: center;
}
.navbar-inverse.devices-nav {
	margin-right: 15px;
	margin-left: 15px;
	background-color: #191919;
}
.navbar-inverse.devices-nav .devices-header {
	display: block;
	max-width: 200px;
	padding: 15px 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: #f1f1ed;
	text-align: center;
}
.navbar-inverse.devices-nav .navbar-toggle {
	right: 15px;
}
.tooltip-inner {
  color: #000;
  background-color: rgba(241,241,237, 0.9);
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(241,241,237, 0.9);
}
/* Error */
.sad-face {
	color: #bbb;
}
/* Features */
.carousel-caption {
	background-color: #111111;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Logs */
.table tbody > tr > td.log-date {
	padding: 16px 12px;
}
.btn-link {
	color: #33b5e5;
}
.btn-link:hover,
.btn-link:focus {
	color: #0099cc;
}
/* Source */

/* Common */
.page-header.top-header {
	/* container has 20px extra padding,
	 * reduce margin by 20px to
	 * compensate
	 */
	margin-top: 20px;
}
@media (min-width: 768px) {
	/* Turn descriptive lists into
	 * horizontal format on larger
	 * devices
	 */
	dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	dd {
		margin-left: 180px;
	}
	dd:before,
	dd:after {
		display: table;
		content: " ";
	}
	dd:after {
		clear: both;
	}
	dd:before,
	dd:after {
		display: table;
		content: " ";
	}
	dd:after {
		clear: both;
	}
}
