/* Base */
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color: #1b1b1b;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -50px;
}
#wrap > .container {
	padding-top: 70px;
	padding-bottom: 70px;
}
a {
	color: #33B5E5;
}
a:hover,
a:focus {
	color: #0099CC;
}
.navbar-inverse .navbar-brand {
	font-size:1.8em;
	color: #33B5E5;
	font-family: "Sony Sketch";
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #1b1b1b;
}
.panel {
	background-color: #1b1b1b;
}
.navbar-footer {
	margin-bottom: 0;
}
/* About */

/* Builds */
a.accordion-toggle:focus,
a.accordion-toggle:hover {
	text-decoration:none;
}
.accordion-header-date {
	color: #fff;
}
.btn-primary {
	background-color: #33b5e5;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #0099cc;
}
.modal {
	color: #000;
}
/* Chat */

/* Default */
.jumbotron {
	color: #fff;
	background-color: #1b1b1b;
	text-align: center;
}
.jumbotron h1 {
	font-size: 90px;
	font-weight: bold;
	font-family: "Sony Sketch";
}
.jumbotron p {
	font-size: 25px;
	font-family: "Sony Sketch";
}
@media (max-width: 480px) {
	.jumbotron h1 {
		font-size: 70px;
	}
}
/* Devices */
.list-group-item {
	background-color: #1b1b1b;
}
/* Error */
.unhappy-face {
	color: #bbb;
}
/* Features */
.carousel-caption {
	background-color: #000;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Logs */
.btn-link {
	color: #33B5E5;
}
.btn-link:hover,
.btn-link:focus {
	color: #0099CC;
}
/* Source */
